.menu{background-color: #1eab85; width: 100%; padding:1px 5px 5px 1px; text-align: center; float: left;}
.menu ul{list-style-type: none;}
.menu ul li{display: inline; padding: 0px 10px 0px 10px;}
.menu ul ul{display: none; position: absolute; background-color: #1eab85;}
.menu a{text-decoration: none; color: #ffffff;}
.menu a:hover{color:#D4F4FA; border-bottom: 2px solid yellow;}
.left{float: left;}
.right{float: right;}
.right li:hover ul{display: block;}
.right li ul li{float: none; text-align: center;}
.food{color: greenyellow;}
.friend{color: black;}