<html>
    <head>
        <% include ./head.ejs %>
    </head>
    <body>
        <h1 align="center"><%= data %>님 로그인이 완료되었습니다!</h1>
        <h1 align="center"><%= data %>로그인이 완료되었습니다!</h1>
        <h1 align="center"><%= data %>로그인이 완료되었습니다!</h1>
        <h1 align="center">반갑습니다!</h1>
    </body>
</html>