<html>
    <head>
        <% include ./head.ejs %>
    </head>
    <body>
<<<<<<< HEAD
        <h1 align="center"><%= data %>님 로그인이 완료되었습니다!</h1>
=======
        <h1 align="center"><%= data %>로그인이 완료되었습니다!</h1>
>>>>>>> 1ed1e16cc171d6d1ccb6ed9ff7330cde99481368
        <h1 align="center">반갑습니다!</h1>
    </body>
</html>