<html>
    <head>
        <% include ./head.ejs %>
    </head>
    <body>
        <% include ./menubar.ejs %>
        <br><br><br>
        <br><br><br>
        <section>
            <span class="images">
                <a href="/board"><img src="images/1.jpg" width="33%"></a>
                <img src="images/2.jpg" width="33%">
                <img src="images/3.jpg" width="33%"><br>
                <img src="images/4.jpg" width="33%">
                <img src="images/5.jpg" width="33%">
                <img src="images/6.jpg" width="33%">
            </span>
        </section>
        <br><br><br>
        <br><br><br>
        <table class="table">
            <thead>
                <tr>
                    <td>번호</td>
                    <td>제목</td>
                    <td>작성자</td>
                    <td>작성날짜</td>
                    <td>조회수</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="/board">첫번째 맛집</a></td>
                    <td>seon</td>
                    <td>2017.11.02</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>두번째 맛집</td>
                    <td>seon</td>
                    <td>2017.11.07</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>세번째 맛집</td>
                    <td>seon</td>
                    <td>2017.11.09</td>
                    <td>8</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>