<html>
    <head>
        <title>Fooriend</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body>
        <div class="menu">
            <ul>
                <span class="left">
                    <li><a href="/"><span class="food">Foo<span class="friend">rien</span>d</span></a></li>
                    <li><input type="text" size="50%"> <span><button type="submit">검색</button></span></li>
                </span>
                <span class="right">
                    <li><a href=""><span>MENU</span></a>
                        <ul>
                            <li><a href="">맛집 등록</a></li>
                            <li><a href="">맛집 랭킹</a></li>
                        </ul>
                    </li>
                    <li><a href=""><span>LOGIN</span></a>
                        <ul>
                            <li><a href="/login">로그인하기</a></li>
                            <li><a href="/register">회원가입</a></li>
                        </ul>
                    </li>
                </span>
            </ul>
        </div>
    </body>
</html>