<% include ./header.ejs %>
        <br><br><br>
        <h3 align="center"><%= user.nickname %>님 어서오세요!</h3>
        <br><br><br>
        <section>
            <span class="images">
                <a href="/store"><img src="images/1.jpg" width="33%"></a>
                <img src="images/2.jpg" width="33%">
                <img src="images/3.jpg" width="33%"><br>
                <img src="images/4.jpg" width="33%">
                <img src="images/5.jpg" width="33%">
                <img src="images/6.jpg" width="33%">
            </span>
        </section>
        <br><br><br>
        <br><br><br>
        <div>
<% include ./footer.ejs %>