<html>
    <head>
        <title>Fooriend</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body>
        <div class="login">
            <form name="login" action="/" method="post">
                <table border="0" cellspacing="0" align="right">
                    <tr>
                        <th align="center">ID:</th>
                        <td > <input type="text" name="username" size="10" align="right"></td>
                    </tr>
                    <tr>
                        <th align="center">PassWord:</th>
                        <td> <input type="password" name="password" size="10" align="right"></td>
                    </tr>
                    <tr>
                        <td align="center"><a href="/regi">회원가입</a></td>
                        <td align="center"> <button type="submit"> 로그인 </button></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>