<html>
    <head>
        <% include ./head.ejs %>
    </head>
    <body>
        <div class="container">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Fooriend
                        </div>
                    </div>
                    <div class="panel-body">
                        <form id="login-form">
                            <div>
                                <input type="text" class="form-control" name="username" placeholder="username" autofocus>
                            </div><br>
                            <div>
                                <input type="password" class="form-control" name="password" placeholder="password">
                            </div><br>
                            <div>
                                <button type="submit" class="form-control btn btn-success">Log In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <h4 align="center"><a href="/regi">Sign Up</a></h4>
        <h4 align="center"><a href="/">Home</a></h4>
    </body>
</html>